html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}
a{
	color:blue;
}
body{
	background-color: rgb(235,238,240);
	color: #111111;
	font-family: "Roboto", sans-serif;
}
.sheets{
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.sheet{
	padding: 15mm;
	box-sizing: border-box;
	margin-right: 20px;
	margin-bottom: 40px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 18px 0px;
	border-radius: 3px;
	background-color: white;
	color: rgb(26, 26, 26);
	position: relative;
	flex-shrink: 0;
	overflow: hidden;
}

.a4 .sheet{
	width: 210mm;
	min-height: 297mm;
}
.letter .sheet{
	width: 215.9mm;
	min-height: 279.4mm;
}

/* Options menu at page top */
nav{
	width: 100%;
	background:rgb(242, 255, 150);
	padding: 1em;
	text-align: center;
}
nav select, nav button{
	background: white;
	border: 1px solid rgb(200,200,200);
	border-radius: 4px;
	padding: 0.5em 0.5em 0.5em 0.3em;
}
nav button{
	padding-left: 0.8em;
	padding-right: 0.8em;
	cursor: pointer;
}
nav button:hover{
	color: white;
	background: rgb(40,40,40);
	border-color: rgb(40,40,40);
}


/* Page fluff */
header{
	width: 100%;
	margin: 0;
	display: flex;
}
header > .logo{
	width: 25mm;
	height: 25mm;
}
header > h1{
	font-size: 9mm;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	margin: 0;
	margin-left: 0px;
	background: black;
	flex-grow: 1;
	color: #fff;
	margin-left: 3mm;
	line-height: 25mm;
	padding-left: 6mm;
}

footer{
	position: absolute;
	inset: auto 15mm 15mm 15mm;
	z-index: 100;
}
footer > p{
	font-size: 0.6em;
	margin: 0;
}
footer p.page_number{
	position: absolute;
	inset: auto 0 0 auto;
	font-size: 1em;
	font-weight: 700;
	background: black;
	width: 8mm;
	height: 8mm;
	color: white;
	text-align: center;
	line-height: 8mm;
}
.sheet:first-of-type footer{
	margin-left: 28mm;
}

/* Text and info */
.intro_info{
	margin-left: 28mm;
	font-size: 1.2em;
}

.qr_data_table{
	font-size: 0.9em;
}

.qr_data{
	display: flex;
	align-items: center;
}
.scannable_qr > img{
	width: 40mm;
	height: 40mm;
}

.nice_table{
	border-collapse: collapse;
}
.nice_table td{
	padding: 0.4em 0.8em 0.3em 0.4em;
}
.nice_table tr:not(:last-of-type){
	border-bottom: 1px solid black;
}
.nice_table tr td:not(:first-of-type){
	border-left: 1px solid black;
}

.nerd_data{
	font-family: 'IBM Plex Mono', monospace;
	font-size: 10px;
}

h2{
	font-size: 6mm;
	font-family: "Poppins", sans-serif;
	font-weight: 600;	 
	margin-top: 0 0 0.2em 0;
}

/* List of parts needed */
.parts_summary{
	display:flex;
	margin-bottom: 5mm;
}
.part{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.part img{
	width: 14mm;
	height: 14mm;
}
.part dl{
	display: block;
	margin: 0;
	padding: 0 5mm;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.part dt{
	display: inline-block;
	margin: 0.3em 0 0.1em;
}
.part_value{
	display: inline-block;
	font-weight: 500;
	background: black;
	color: white;
	padding: 0.15em 0.4em;
	margin: 0.2em 0;
	border-radius: 0.5em;
}
.part_value.is_white_part{
	background: hsl(0, 0%, 90%);
	color:black;
}
.part_shop{
	margin: 0.4em 0 0 0;
	padding: 0;
	font-size: 0.6em;
}

.editable{
	min-width: 50px;
	display: inline-block;
	outline: none;
}
.clickable{
	display: inline-block;
	cursor: pointer;
}
.editable:hover, .clickable:hover{
	background: rgb(255, 241, 162);
}
.editable:focus, .clickable:focus{
	background: rgb(203, 247, 84);
}

.qr_map_image{
	background: rgb(128,128,128);
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	position:relative;
	z-index: 20;
}
.qr_map_image:before{
	content: "";
	position: absolute;
	left: -15mm;
	right: -15mm;
	background: rgb(128,128,128);
	z-index: -10;
	bottom: -30mm;
	top: 0;
}


@page {
	size: A4 portrait;   /* auto is the initial value */
	margin: 0mm;  /* this affects the margin in the printer settings */
}

@media print {
	body {
		margin: 0;
		-webkit-print-color-adjust: exact;
	}
	nav {
		display: none;
	}
	.sheets{
		padding: 0;
		display: block;
	}
	.sheet{
		box-shadow: none;
		border-radius: 0;
		margin: 0;
		float: none;
		/*page-break-after: always;*/
	}
}